<html>
    <style>
        body{ 
            font-size: 15pt;
            font-family: arial;
            position: absolute;
            top: 5%;
            left: 5%;
        }
        .info {
            margin-top: 15px;
        }
        .perms {
            margin-top: 40px;
            margin-bottom: 15px;
        }
        .button {
            margin-top: 20px;
        }
        .update_button {
            margin-top: 0px;
        }
    </style>

    <body>
        <h1>{{data[1]}}</h1>

        <div class="info">
            <b>Operating System: </b>
            {{data[2]}}
        </div>
        <div class="info">
            <b>BIOS Version: </b>
            {{data[3]}}
        </div>
        <div class="info">
            <b>Last accessed: </b>
            {{data[6]}}
        </div>
        <div>
            <h3 class="perms">Permissions: </h3>
            <div class="info">
                <b>Scope: </b>
                {{data[4]}}
            </div>
            <div class="info">
                <b>Group: </b>
                {{data[5]}}
            </div>
        </div>
        <form method="POST" action="/device/{{data[0]}}/delete">
            <input type="submit" value="Delete Device" class="button">
        </form>
        
        <div class="update_device">
            <h2>Update Device</h2>
            <form method="POST" action="/device/{{data[0]}}/update">
                <p>
                    <label for="operating_system">Operating System: </label>
                    <select name="operating_system" id="operating_system">
                      <option value="Window">Window</option>
                      <option value="Linux">Linux</option>
                      <option value="macOS">macOS</option>
                      <option value="iPad OS">iPad OS</option>
                      <option value="iOS">iOS</option>
                    </select>
                </p>
              <p>BIOS Version: <input type="text" name="bios_version"></p>
              <input type="submit" value="Update" class="update_button">
            </form>
        </div>
        <p><a href="/devices">Back to devices</a></p>
    </body>
</html>