<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
      position: absolute;
      top: 5%;
      left: 5%;
    }
    .links {
      /* margin-left: 200px; */
      line-height: 50%;
    }
  </style>


<body>
  <h1>Devices at 4111 LLC</h1>

  <div class="devices">
    {% for n in data %}
    <div><a href="/device/{{n[0]}}">{{n[1]}}</a></div>
    {% endfor %}
  </div>

  <div class="new_device">
    <h1>Create New Device</h1>
    <form method="POST" action="/add-device">
      <p>
        <label for="device_type">Device Type: </label>
        <select name="device_type" id="device_type">
          <option value="desktop">Desktop</option>
          <option value="laptop">Laptop</option>
          <option value="tablet">Tablet</option>
          <option value="phone">Phone</option>
        </select>
      </p>
      <p>
        <label for="operating_system">Operating System: </label>
        <select name="operating_system" id="operating_system">
          <option value="Window">Window</option>
          <option value="Linux">Linux</option>
          <option value="macOS">macOS</option>
          <option value="iPad OS">iPad OS</option>
          <option value="iOS">iOS</option>
        </select>
      </p>
      <p>Purchase Date: <input type="text" name="purchase_date"></p>
      <p>BIOS Version: <input type="text" name="bios_version"></p>
      <p>Vendor: <input type="text" name="vendor"></p>
    </form>
  </div>

  <div class="links">
    <p><a href="/">See people</a></p>
    <p><a href="/softwares">See all software</a></p>
    <p><a href="/device-permissions">See all device permissions</a></p>
  </div>

</body>


</html>