<html>
    <style>
        body{ 
            font-size: 15pt;
            font-family: arial;
            position: absolute;
            top: 5%;
            left: 5%;
        }
        .info {
            margin-top: 15px;
        }
        .button {
            margin-top: 20px;
        }
        .update_button {
            margin-top: 0px;
        }
    </style>

    <body>
        <h1>{{data[1]}}</h1>

        <div class="info">
            <b>Version: </b>
            {{data[2]}}
        </div>
        <div class="info">
            <b>License: </b>
            {{data[3]}}
        </div>
        <div class="info">
            <b>Renew Date: </b>
            {{data[4]}}
        </div>
        <form method="POST" action="/software/{{data[0]}}/delete">
            <input type="submit" value="Delete Software" class="button">
        </form>
        <div class="update_software">
            <h2>Update Software</h2>
            <form method="POST" action="/software/{{data[0]}}/update">
              <p>Version: <input type="text" name="version"></p>
              <p>License: <input type="text" name="license"></p>
              <p>Renew Date: <input type="text" name="renew_date"></p>
              <input type="submit" value="Update" class="update_button">
            </form>
        </div>
        <p><a href="/softwares">Back to all software</a></p>
    </body>
</html>